# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class


# Virtual environments
.venv
venv/


# Coverage / testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
*.cover
*.py,cover

# IDE / Editor settings
.idea/

# macOS
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

# Environment files - DO NOT COMMIT
.env
.env.*
!.env.example
!.env.template


# Migrations
versions/